@using AspNetCoreWebApi.Client.Components
@model AspNetCoreWebApi.Client.Models.Category

@{
    ViewData["Title"] = "Details";
}

<div class="contentBody">
    <h3>@Model.CategoryName</h3>
    <br />
    <br />
    <h4>Kategori Bilgileri</h4>
    <hr />
    <div class="row col-md 12">
        <div class="col-md-6">
            <div id="açıklama">
                <div class="col-md-8"><h5>Kategori İsmi</h5></div>
                <div class="col-md-8">@Model.CategoryName</div>
                <br />
                <div class="col-md-8"><h5>Açıklama</h5></div>
                <div class="col-md-11">@Model.Description</div>
            </div>
        </div>
        <div class=" col-md-6">
            <div id="productHeader">
                <h5>Ürünler</h5>
            </div><br />
            <div>
                @await Component.InvokeAsync("CategoryProducts", new { id = Model.Id })
            </div>
            <vc:CategoryProducts ></vc:CategoryProducts>
        </div>
    </div>
</div>
<vc:[view component name] parameter1="value"
          parameter2="value">
</vc:[view>
